.App {
  /* text-align: center; */
  display: flex;
  flex-flow: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none !important;
}

.close-menu-element {
  display: none;
}

.component {
  /* display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-around; */
  margin: 70px 8px 0px 8px;
}

@media screen and (min-width: 600px) {
  .component {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.component-title {
  text-align: center;
  margin: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
