/* .Events {
  margin: 70px 8px 0px 8px;
} */

.event-image {
  /* TODO
  change the min-width to be relative so it becomes responsive
  */
  min-width: 300px !important;
  max-width: 0% !important;
  margin: 20px !important;
}

