.floating-menu {
  display: none !important;
}

@media screen and (max-width: 599px) {
  /* button.floating-menu-button h1.floating-menu-button { */
    .floating-menu {
      display: inline-block !important;
      position: fixed;
    }
    
    .floating-menu-button {
    position: fixed;
    right: 10%;
    bottom: 40px;
  }
}

