.floating-menu {
  display: none !important;
}

.floating-menu-button {
  display: none !important;
}

@media screen and (max-width: 599px) {
  /* button.floating-menu-button h1.floating-menu-button { */
    .floating-menu {
      display: inline-block !important;
      position: fixed;
    }
    
    .floating-menu-button {
      display: inline-block !important;
      position: fixed;
      right: 12%;
      bottom: 7%;
  }
}

