.Footer {
  text-align: center;
  white-space: normal;
  /* position: fixed; */
  bottom: 10px;
}

.footer-divider {
  border: none;
  height: 2px;
  width: 50%;
  background-color: rgb(224, 224, 224);
  margin-top: 30px;
}

