.Ministries {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-list {
  width: 500;
  height: 450;
  overflow-y: auto;
  /* flex: column; */
}

.ministries-description {
  /* increase margin in bigger screen */
  margin: 10px 20px 10px 20px;
  text-align: center;
}

img {
  height: auto;
  width: 100%;
}