.NavBar {
  text-align: center;
  flex: auto;
}

.navigation-bar {
  background-color: white !important;
}

.navigation-bar:hover {
  cursor: pointer;
}

.popover-div {
  width: 100%;
  text-align: center;  
}

.popover-menu {
  text-align: center;
}

