.Welcome {
  background-image: url('../assets/welcome-background.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.title {
  position: center;
  color: white;
}

.description {
  color: white;
  font-size: 20px;
}

  .welcome-description {
    background-color: gray;
    background-blend-mode: overlay;
    opacity: 0.85;
    padding: 5px;
    margin-top: 220px;
  }
