.Welcome {
  background-image: url('../assets/welcome-background.jpg');
  background-size: cover;
  background-position: center;
  height: stretch;
  text-align: center;
  flex: auto;
}

.title {
  position: center;
  color: white;
}

.description {
  color: white;
  font-size: 20px
}